body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: bisque;
  overflow: hidden;
}

body,
html {
  font-family: "Red Hat Display", "sans-serf";
}

img {
  display: block;
  width: 100%;
}
