body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("./assets/Background.png");
  background-position: left;
  background-repeat: no-repeat;
  background-color: bisque;
}
