@media (min-width: 720px) {
  #mainContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 57.5rem;
    height: 31.813rem;
  }

  #imgContainer {
    position: absolute;
    width: 29.5rem;
    height: 23.438rem;
    left: 0px;
    top: 4.375rem;
    overflow: hidden;
  }

  #heroImg {
    position: absolute;
    left: -5rem;
  }

  #box {
    position: absolute;
    width: 12.5rem;
    height: 12.875rem;
    left: -6.183rem;
    top: 13.133rem;
    z-index: 99999;
  }

  #textContainer {
    width: 57.5rem;
    height: 31.813rem;
    top: 0;
    border-radius: 1.5rem;
  }

  #FAQ {
    position: absolute;
    width: 4.188rem;
    height: 2rem;
    left: 51.63%;
    right: 41.09%;
    top: calc(50% - 285px / 2 - 173.5px);
  }
}
