.content {
  max-height: 0;
  overflow: hidden;
  border-bottom: 1px solid #e8e8ea;
  transition: all cubic-bezier(0, 1, 0, 1);
}

.content.show {
  height: auto;
  max-height: 625rem;
  transition: all cubic-bezier(1, 0, 1, 0);
}

@media (min-width: 720px) {
  #accordion {
    position: absolute;
    width: 350px;
    left: 51.63%;
    right: 10.33%;
    top: 27.5%;
    bottom: 65.62%;
  }
}
